{% extends "admin/base_site.html" %}

{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; {{cook.user.first_name}} {{cook.user.last_name}}
</div>
{% endblock %}

{% block content %}

<script>
    var splits = {{splits}};
</script>


<div id="content-main">
    <div class="app-homeeats_app module" style="display:inline-block;margin:10px;vertical-align:top;">
        <table>
        <caption>
            <p class="section">Past Orders for {{cook.user.first_name}} {{cook.user.last_name}}</p>
        </caption>
        <tr>
            <th>Order Name</th>
            <th>Total</th>
            <th>Our Split</th>
            <th>Date</th>
        </tr>
        {% for order in cook.order_set.all %}
            {% if order.status == 'd'%}
            <tr>
                <td>{{order.name}}</td>
                <td>{{order.total}}</td>
                <td id="split{{order.id}}"></td>
                <td>{{order.date}}</td>
            </tr>
            <script>
                document.getElementById("split"+'{{order.id}}').innerHTML = splits[{{order.id}}];
            </script>
            {% endif %}
        {% endfor %}
        <tr>
            <th></th>
            <th>{{total}}</th>
            <th>{{total_split}}</th>
            <th></th>
        </tr>
        </table>
    </div>
    
    <div class="app-homeeats_app module" style="display:inline-block;margin:10px;vertical-align:top;">
        <table>
        <caption>
            <p class="section">Rejected Orders for {{cook.user.first_name}} {{cook.user.last_name}}</p>
        </caption>
        <tr>
            <th>Order Name</th>
            <th>Customer</th>
            <th>Date</th>
        </tr>
        {% for order in cook.order_set.all %}
            {% if order.status == 'r' %}
            <tr>
                <td>{{order.name}}</td>
                <td>{{order.customer.user.first_name}} {{order.customer.user.last_name}}</td>
                <td>{{order.date}}</td>
            </tr>
            {% endif %}
            
        {% endfor %}
        </table>
    </div>
</div>


{% endblock %}