{% extends "admin/base_site.html" %}

{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; <a href="/admin/homeeats_app">HomeEats_App</a>
&rsaquo; <a href="/admin/homeeats_app/cook">Cooks</a>
&rsaquo; <a href="/admin/homeeats_app/cook/{{cook.id}}/change">{{cook}}</a>
&rsaquo; Order History
</div>
{% endblock %}

{% block content %}

<script>
    var cooksplits = {{cooksplits}};
    var oursplits = {{oursplits}};
</script>

<div id="content-main">
    <div class="app-homeeats_app module" style="display:inline-block;margin:10px;vertical-align:top;">
        <table>
        <caption>
            <p class="section">Orders for {{cook.user.first_name}} {{cook.user.last_name}}</p>
        </caption>
        <tr>
            <th>Order Name</th>
            <th>Status</th>
            <th>Cook Split</th>
            <th>Our Split</th>
            <th>Total</th>
            <th>Date</th>
            <th>Other</th>
        </tr>
        {% for order in cook.order_set.all %}
            <tr>
                <td>{{order.name}}</td>
                <td>{{order.get_status_display}}</td>
                <td id="cooksplit{{order.id}}"></td>
                <td id="oursplit{{order.id}}"></td>
                <td>{{order.total}}</td>
                <td>{{order.date}}</td>
                <td>{% if order.status == 'r' %}{{order.reject_reason.reason}}{% endif %}</td>
            </tr>
            <script>
                document.getElementById("cooksplit"+'{{order.id}}').innerHTML = cooksplits[{{order.id}}];
                document.getElementById("oursplit"+'{{order.id}}').innerHTML = oursplits[{{order.id}}];
            </script>
        {% endfor %}
        <tr>
            <th></th>
            <th></th>
            <th>${{total_cooksplit}}</th>
            <th>${{total_oursplit}}</th>
            <th>${{total}}</th>
            <th></th>
        </tr>
        </table>
    </div>
</div>


{% endblock %}