{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; Cook Applications
</div>
{% endblock %}

{% block content %}

<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
{% if cooks %}
<div class="container" style="overflow-x:scroll;">
    <div class="row flex-row flex-nowrap">
        {% for cook in cooks %}
        <div class="col-3" style="margin-bottom:20px;display:inline-block;">
            <div class="card">
                <div class="card-header">
                    {{cook.user.first_name}} {{cook.user.last_name}}
                </div>
                <div class="card-body">
                    <img src="{{cook.government_id.url}}" width=200px height=150px>
                    <p>Phone: {{cook.phone_number}}</p>
                    <p>License: {{cook.kitchen_license}}</p>
                    <form method="POST">
                        {% csrf_token %}
                        <input name="id" type="hidden" value="{{cook.id}}">
                        <button name="approve" class="btn btn-success">Approve</button>
                        <button name="decline" class="btn btn-danger">Decline</button>

                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h1>No Cooks Pending Approval</h1>
{% endif %}
{% endblock %}