{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; Revenue Reports
</div>
{% endblock %}

{% block content %}

<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

<style>
    select{
        height:40px;
    }
</style>

<script>
    var homeeats_splits = {{homeeats_splits}};
    var cook_splits = {{cook_splits}};
</script>

<form method="POST">
    {% csrf_token %}
    {{dateform}}
    <input type="submit" value="Update">
</form>
{% if orders %}
<table>
<tr>
    <th scope="col">Cook Name</th>
    <th scope="col">Customer Name</th>
    <th scope="col">Order #</th>
    <th scope="col">Order Date</th>
    <th scope="col">Item Subtotal</th>
    <th scope="col">Tax</th>
    <th scope="col">Delivery Fee</th>
    <th scope="col">Tip</th>
    <th scope="col">Order Total</th>
    <th scope="col">Cook Revenue</th>
    <th scope="col">HomeEats Revenue</th>
</tr>
{% for order in orders %}
<tr>
    <td><a href="{% url 'admin_cook' order.cook.id %}">{{order.cook.user.first_name}} {{order.cook.user.last_name}}</a></td>
    <td><a href="{% url 'admin_customer' order.customer.id %}">{{order.name}}</a></td>
    <td>{{order.id}}</td>
    <td>{{order.date|date:"d M Y" }}</td>
    <td>{{order.item_subtotal}}</td>
    <td>{{order.tax}}</td>
    <td>{{order.delivery_fee}}</td>
    <td>{{order.tip}}</td>
    <td>{{order.total}}</td>
    <td id="cook_split{{order.id}}"></td>
    <td id="homeeats_split{{order.id}}"></td>
</tr>
<script>
    document.getElementById("homeeats_split"+'{{order.id}}').innerHTML = homeeats_splits[{{order.id}}].toFixed(2);
    document.getElementById("cook_split"+'{{order.id}}').innerHTML = cook_splits[{{order.id}}].toFixed(2);
</script>
{% endfor %}
<tr>
    <th>Totals:</th>
    <th></th>
    <th></th>
    <th></th>
    <th>${{total_revenue}}</th>
    <th>${{total_tax}}</th>
    <th>${{total_delivery}}</th>
    <th>${{total_tip}}</th>
    <th>${{total}}</th>
    <th>${{total_cook_revenue}}</th>
    <th>${{total_homeeats_revenue}}</th>
</tr>
</table>

{% else %}
<h2>No Orders To Display</h2>
{% endif %}

{% endblock %}