{% extends 'cook_base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}
{% block pagecontent %}

<div class="container mt-2">
    <h2>Your Cuisines 
        <a href="{% url 'create_dish' %}"><button type="button" class="btn btn-success">+Add Dish</button></a>
    </h2>
    <div class="container">
        <div class="row">
        {% for cuisine in cuisines %}
        <div class="col-3" style="margin-bottom:20px;display:flex">
            <a href="{% url 'cook_cuisine_dishes' cuisine.id %}">
                <div class="card justify-content-between m-2" style="width: 14rem;">
                    <h5 class="card-header text-center">{{cuisine.name}}</h5>
                    <div class="card-body ">
                        <img src="{{ cuisine.flag.url }}" width=100%>
                    </div> 
                </div>
            </a>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}