{% extends 'cook_base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}
{% block pagecontent %}

<div class="container mt-2">
    <h2>Your {{cuisine}} Dishes</h2>
    <ul class="list-group list-group-horizontal">
            {% for dish in dishes  %}
            <div class="card justify-content-between m-2" style="width: 14rem;">
            <h5 class="card-header text-center"><a href="">{{dish.title}}</a></h5>
            <div class="card-body ">
                <h5 class="card-title">blah<!--{{ post.info }}--></h5>
                <p class="card-text">{{dish.description}}</p>
                <p class="card-text font-weight-bold text-secondary">Price: ${{dish.price}}</p>
            </div>
            <div class="card-footer text-right">
                <small class="text-muted"><a href="{% url 'delete_dish' dish.id %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a></small>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
        {% endblock %}