{% extends 'cook_base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}
{% block pagecontent %}

<div class="container mt-2">
    <h2>Your {{cuisine}} Dishes</h2>
    <div class="container">
      <div class="row">
        {% for dish in dishes  %}
        <div class="col-lg-3 mt-3">
            <div class="card">
              <img src="{{ dish.dish_image.url }}" height="180" {% if dish.cook_disabled %}style="opacity: 0.3;"{% endif %} class="card-img-top" alt="...">
              <div class="card-img-overlay">
                  {% if dish.cook_disabled %}
                  
                  <h5><span class="badge badge-danger" style="float:right;">DISABLED</span></h5>
                  {% else %}
                      {% if dish.vegan %}
                      <img style="float:left" src="/media/vegan.png" width=35px>
                      {% endif %}
                      <h5><span class="badge badge-primary" style="float:right;">{{dish.cuisine}}</span></h5>
                  {% endif %}
                  </div>
              <div class="card-body">
                      <a href="{% url 'reviews_for_dish' dish.id %}">  <h5 class="card-title" {% if dish.cook_disabled %}style="opacity: 0.3;"{% endif %} style="color:black;position:relative;">{{dish.title}} </h5></a>
              
          {% if dish.rating > 0 %}
              <span class="fa fa-star {% if dish.rating >= 1 %}checked{% endif %} fa-sm"></span>
              <span class="fa fa-star {% if dish.rating >= 2 %}checked{% endif %} fa-sm"></span>
              <span class="fa fa-star {% if dish.rating >= 3 %}checked{% endif %} fa-sm"></span>
              <span class="fa fa-star {% if dish.rating >= 4 %}checked{% endif %} fa-sm"></span>
              <span class="fa fa-star {% if dish.rating >= 5 %}checked{% endif %} fa-sm"></span>
              <p style="float:right;" class="text-muted">  {{dish.dish_review_set.count}} rating{% if dish.dish_review_set.count > 1 %}s{% endif %}</p>
          {% else %}
              NO RATING
          {% endif %}</p>
          <a href="{% url 'cook_edit_dish' dish.id %}"><small class="text-muted"><button type="button" style="position:relative;" class="btn btn-success btn-sm">Edit</button></small></a>
                {% if dish.cook_disabled %}
                  <a href="{% url 'cook_enable_dish' dish.id %}"><small class="text-muted"><button type="button" style="position:relative;" class="btn btn-success btn-sm">Enable</button></small></a>
                {% else %}
                  <a href="{% url 'cook_disable_dish' dish.id %}"><small class="text-muted"><button type="button"  style="position:relative;" class="btn btn-warning btn-sm">Disable</button></small></a>
                {% endif %}
                  <small class="text-muted"><button type="button" class="btn btn-danger btn-sm" data-toggle="modal"  style="position:relative;" data-target="#exampleModalCenter{{dish.id}}">Delete</button></small>
              </div>
            </div>
          </div>
              


        <div class="modal fade" id="exampleModalCenter{{dish.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove {{dish.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to remove this dish?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_dish' dish.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</div>
        {% endblock %}
