{% extends '../cook_base.html' %}
{% block pagecontent %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
  
    </style>
  </head>

  {% if messages %}
  <ul class="messages" style="padding-right:40px;">
      {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align:center;">
          <strong>{{message}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      {% endif %}
      {% endfor %}
  </ul>
  {% endif %}

  <div style="text-align: center;width:27%;margin: 20px auto;">
    <h2>My Account</h2>
      <img src="{{ user.cook.government_id.url }}">
      <table class="table">
      <tbody>
      <tr>

      <div style="margin:10px;text-align: left;">
       <td>First Name</td>
        <div style="float:right;">
          <td>{{ user.first_name }}</td>
        </div>
      </div>

    </tr>
    <tr>

      <div style="margin:10px;text-align: left;">
        <td>Last Name</td>
        <div style="float:right;">
          <td>{{ user.last_name }}</td>
        </div>
      </div>
    </tr>
    <tr>
      <div style="margin:10px;text-align: left;">
        <td>Kitchen License</td>
        <div style="float:right;">
          <td>{{ cook.kitchen_license }}</td>
        </div>
      </div>
    </tr>
    <tr>
      <div style="margin:10px;text-align: left;">
        <td>Email</td>
        <div style="float:right;">
          <td>{{ user.username }}</td>
        </div>
      </div>

    </tr>
    <tr>
      
      <div style="margin:10px;text-align: left;">
        <td>Phone Number</td>
        <div style="float:right;">
          <td>{{ cook.phone_number }}</td>
        </div>
      </div>

    </tr>
    <tr>

      <div style="margin:10px;text-align: left;">
        <td>Street Name</td>
        <div style="float:right;">
          <td>{{ address.street_name }}</td>
        </div>
      </div>

    </tr>
    <tr>

      <div style="margin:10px;text-align: left;">
        <td>City, State, Zip</td>
        <div style="float:right;">
         <td> {{ address.city }}, {{address.state}}, {{address.zipcode}}</td>
        </div>
      </div>

    </tr>
    <tr>

      <div style="margin:10px;text-align: left;">
        <td>Bulk Ordering</td>
        <div style="float:right;">
          <td>Available</td>
        </div>
      </div>
    </tr>
    <tr>
      <form action="{% url 'cookeditprofile' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Edit Profile" class="btn btn-primary">
      </form>
    </tr>
  </tbody>
  </div>

  {% endblock %}