{% extends 'cook_base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}
{% block pagecontent %}

<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
</script>

{% if cook.online == True %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>You can't go offline yet!</strong> You still have orders pending or in progress...
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

<script>
    var intervals = {};
    var deadlines = {};
</script>

<div class="container mt-2">
    <h4>Pending Orders 
    </h4>
    {% if pending_orders %}
    <ul class="list-group list-group-horizontal">
        {% for order in pending_orders %}
        <div class="card justify-content-between m-2" style="width: 16rem;">
            <h5 class="card-header">
                <a href="{% url 'single_order_view' order.id %}">{{order.name}}</a>
            </h5>
            <div class="card-body">
                <h5 class="card-title">Order #{{order.id}}</h5>
                <p class="card-text font-weight-bold text-secondary">Total: ${{order.total}}</p>
            </div>
            <div class="card-footer text-center">
                    <span id="timer{{order.id}}"><span id="hours{{order.id}}"></span><span id="hoursColon{{order.id}}">:</span><span id="minutes{{order.id}}"></span>:<span id="seconds{{order.id}}"></span></span>
                    <a href="{% url 'accept_order' order.id %}"><button type="button" class="btn btn-success btn-sm">Accept</button></a>
                    <a href="{% url 'reject_order' order.id %}"><button type="button" class="btn btn-danger btn-sm">Reject</button></a>
            </div>
        </div>
        <script>
            {% with id=order.id %}
            deadlines["{{order.id}}"] = new Date({{ deadlines|getvalue:id|date:"U" }} * 1000 + 5 *3600000);
            console.log("Deadline:",deadlines["{{order.id}}"]);
            intervals["{{order.id}}"] = setInterval(function() { 
                let now = new Date(Date.now());
                console.log(now);
                let timeLeft = deadlines["{{order.id}}"]-now;
                console.log("Time left",timeLeft);
                let hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60)); 
                let seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
                
                let hoursColonDiv = "hoursColon"+'{{order.id}}';
                let hoursDiv = "hours"+'{{order.id}}';
                let minutesDiv = "minutes"+'{{order.id}}';
                let secondsDiv = "seconds"+'{{order.id}}';
                let timerDiv = "timer"+'{{order.id}}';

                if (seconds < 10){
                    seconds = '0'+seconds;
                }
                if (hours == 0){
                    document.getElementById(hoursDiv).innerHTML = "";
                    document.getElementById(hoursColonDiv).innerHTML = "";
                }
                else{
                    document.getElementById(hoursDiv).innerHTML = hours;
                }

                document.getElementById(minutesDiv).innerHTML = minutes;
                document.getElementById(secondsDiv).innerHTML = seconds;
                if (timeLeft < 0) { 
                    clearInterval(intervals["{{order.id}}"]); 
                    document.getElementById(timerDiv).innerHTML = "EXPIRED";
                    $.ajax({
                        type: "POST",
                        url: "{% url 'reject_order' %}",
                        data: {
                        'order_id': '{{order.id}}',
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        dataType: 'json',
                        success: function (data) {
                            console.log("success");
                        }
                    }); 
                } 
                {% endwith %}
            }, 1000);
        </script>
        {% endfor %}
    </ul>

    {% else %}
    <div class="container mt-2">
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
                <p class="lead">No Pending Orders</p>
            </div>
    </div>
    {% endif %}

    <h4>Orders In Progress 
    </h4>
    {% if in_progress_orders %}
    <ul class="list-group list-group-horizontal">
        {% for order in in_progress_orders  %}
        {% if order.status == 'c' %}
        <div class="card justify-content-between m-2" style="width: 16rem;">
        <h5 class="card-header"><a href="{% url 'single_order_view' order.id %}">{{order.name}}</a></h5>
        <div class="card-body ">
            <h5 class="card-title">Order #{{order.id}}</h5>
            <p class="card-text">Currently Cooking</p>
            <p class="card-text font-weight-bold text-secondary">Total: ${{order.total}}</p>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'cooking_to_delivery' order.id %}"><button type="button" class="btn btn-success btn-sm">Ready for Delivery</button></a>
        </div>
    </div>
    {% endif %}
    {% if order.status == 'o' %}
    <div class="card justify-content-between m-2" style="width: 16rem;">
        <h5 class="card-header">
            <a href="{% url 'single_order_view' order.id %}">{{order.name}}</a>
        </h5>
        <div class="card-body ">
            <h5 class="card-title">Order #{{order.id}}</h5>
            <p class="card-text">Out For Delivery</p>
            <p class="card-text font-weight-bold text-secondary">Total: ${{order.total}}</p>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'completed_delivery' order.id %}"><button type="button" class="btn btn-success btn-sm">Delivered</button></a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</ul>

{% else %}
<div class="container mt-2">
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
                <p class="lead">No In Progress Orders</p>
            </div>
</div>
{% endif %}
</div>

{% else %}
<div class="container mt-2">
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 brand-name">HomeEats</h1>
            <p class="lead">You are currenttly offline...</p>
            <p class="lead">Go online to start receiving orders!</p>
        </div>
    </div>
{% endif %}


{% endblock %}