<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
  
    </style>
  </head>

  {% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}
{% block pagecontent %}

{% csrf_token %}

  <div style="text-align: center;width:25%;margin: 20px auto;">
    <h2>Create Dish</h2>
    <form method="post">
      {% csrf_token %}
  
      <div style="margin:10px;text-align: left;">
        {{ form.title.label_tag }}
        <div style="float:right;">
          {{ form.title }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        {{ form.cuisine.label_tag }}
        <div style="float:right;">
          {{ form.cuisine }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        {{ form.dish_image.label_tag }}
        <div style="float:right;">
          {{ form.dish_image }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        {{ form.cook_time.label_tag }}
        <div style="float:right;">
          {{ form.cook_time }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        {{ form.price.label_tag }}
        <div style="float:right;">
          {{ form.price }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        {{ form.ingredients.label_tag }}
        <div style="float:right;">
          {{ form.ingredients }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        {{ form.description.label_tag }}
        <div style="float:right;">
          {{ form.description }}
        </div>
      </div>
      <input type="submit" value="Create a new dish" class="btn btn-primary">
    </form>
  
  </div>
  {% endblock %}
  