{% extends 'cook_base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}
{% block pagecontent %}

<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
</script>

<div class="container" style="margin-top:1em;margin-bottom:1em;">
    <span style="font-weight:normal;font-size:1.5em;">Order #{{order.id}} </span>
    <span style="font-weight:normal;font-size:1.3em;"> - {{order.date}}</span>
</div>
<div class="container" style="overflow-x:scroll;margin-top:20px;">
    <div class="row flex-row flex-nowrap">
        {% for item in items  %}
        <div class="col-3" style="margin-bottom:20px;display:inline-block;display:flex">
            <div class="card">
                <h5 class="card-header">
                    <span style="float:left">{{item.dish.title}}</span>
                    <span style="float:right">{{item.quantity}}</span>
                </h5>
                <div class="card-body">
                    <img src="{{ item.dish.dish_image.url }}" width="100%" style="max-height: 200px;">
                    <p class="card-text font-weight-bold text-secondary">Subtotal: ${{item.subtotal}}</p>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container" style="margin-top:1em;">
    <p><span class="order-field">Cook: </span>{{ order.cook.user.first_name }} {{ order.cook.user.last_name }}</p>
    <p><span class="order-field">Total: </span>${{ order.total }}</p>
    <p><span class="order-field">Status: </span>{{ order.get_status_display }}</p>
    <p>
    <span class="order-field">Special requests: </span>
      {% if order.special_requests %}
        {{ order.special_requests }}
      {% else %}
        None
      {% endif %}
    </p>
    <span class="order-field">Delivery Address: {{order.street_name}} {{order.city}}, {{order.state}} {{order.zipcode}}</span>
</div>

{% endblock %}