{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}
{% block pagecontent %}

<div class="container mt-2">
    <h2>Items in Order #{{order_id}}
    </h2>
    <ul class="list-group list-group-horizontal">
            {% for item in items  %}
        <div class="card justify-content-between m-2" style="width: 14rem;">
            <h5 class="card-header"><a href="">{{item.dish.title}}</a></h5>
            <div class="card-body ">
                <h5 class="card-title">Quantity: {{item.quantity}}</h5>
                <p class="card-text">bla<!--{{ post.body }}--></p>
                <p class="card-text font-weight-bold text-secondary"><!--Price:--></p>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
        {% endblock %}