{% extends 'none_base.html' %}
{% block pagecontent %}
{% if messages %}
<ul class="messages" style="padding-right:40px;">
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>

  </style>
</head>
<div style="text-align: center;width:34%;margin: 20px auto;">
  <h2>Cook Registration</h2>
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div style="margin:10px;text-align: left;">
      {{ cook_create_form.first_name.label_tag }}
      <div style="float:right;">
        {{ cook_create_form.first_name }}
      </div>
    </div>
    <div style="margin:10px;text-align: left;">
      {{ cook_create_form.last_name.label_tag }}
      <div style="float:right;">
        {{ cook_create_form.last_name }}
      </div>
    </div>
    <div style="margin:10px;text-align: left;">
      {{ cook_create_form.email.label_tag }}
      <div style="float:right;">
        {{ cook_create_form.email }}
      </div>
    </div>
    <div style="margin:10px;text-align: left;">
      {{ cook_create_form.password.label_tag }}
      <div style="float:right;">
        {{ cook_create_form.password }}
      </div>
    </div>
    <div style="margin:10px;text-align: left;">
        {{ cook_create_form.government_id.label_tag }}
        <div style="float:right;">
          {{ cook_create_form.government_id }}
        </div>
    </div>
    <div style="margin:10px;text-align: left;">
      <label for="kitchen_license">Kitchen License:</label>
      <div style="float:right;">
        <input id="kitchen_license" type="text" name="kitchen_license" required>
      </div>
    </div>
    <div style="margin:10px;text-align: left;">
      <label for="phone_number">Phone Number:</label>
      <div style="float:right;">
        <input id="phone_number" type="text" name="phone_number" required>
      </div>
    </div>
    <div style="margin:10px;text-align: left;">
        <label for="delivery_distance_miles">Max Delivery Distance (miles):</label>
        <div style="float:right;">
          <input id="delivery_distance_miles" type="text" name="delivery_distance_miles" required>
        </div>
    </div>
    <div style="margin:10px;text-align: left;">
        <label for="delivery_fee">Delivery Fee:</label>
        <div style="float:right;">
          <input id="delivery_fee" type="text" name="delivery_fee" required>
        </div>
    </div>
    <h3>Kitchen Address:</h3>
    <div style="margin:10px;text-align: left;">
        <label for="street">Street:</label>
        <div style="float:right;">
          <input id="street" type="text" name="street" required>
        </div>
    </div>
    <div style="margin:10px;text-align: left;">
        <label for="town">City:</label>
        <div style="float:right;">
          <input id="town" type="text" name="town" required>
        </div>
    </div>
    <div style="margin:10px;text-align: left;">
        <label for="state">State:</label>
        <div style="float:right;">
          <input id="state" type="text" name="state" required>
        </div>
    </div>
    <div style="margin:10px;text-align: left;">
        <label for="zipcode">ZipCode:</label>
        <div style="float:right;">
          <input id="zipcode" type="text" name="zipcode" required>
        </div>
    </div>

    
    <input type="submit" value="Create cook account" class="btn btn-primary">
  </form>

</div>

{% endblock %}