{% extends 'base2.html' %}
{% block pagecontent %}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>

  </style>
</head>
<div style="text-align: center;width:27%;margin: 20px auto;">
  <h2>Cook Registration</h2>
  <form method="post">
    {% csrf_token %}

    <div style="margin:10px;text-align: left;">
      {{ cook_create_form.first_name.label_tag }}
      <div style="float:right;">
        {{ cook_create_form.first_name }}
      </div>
    </div>
    <div style="margin:10px;text-align: left;">
      {{ cook_create_form.last_name.label_tag }}
      <div style="float:right;">
        {{ cook_create_form.last_name }}
      </div>
    </div>
    <div style="margin:10px;text-align: left;">
      {{ cook_create_form.email.label_tag }}
      <div style="float:right;">
        {{ cook_create_form.email }}
      </div>
    </div>
    <div style="margin:10px;text-align: left;">
      {{ cook_create_form.password.label_tag }}
      <div style="float:right;">
        {{ cook_create_form.password }}
      </div>
    </div>
    <div style="margin:10px;text-align: left;">
      <label for="kitchen_license">Kitchen License:</label>
      <div style="float:right;">
        <input id="kitchen_license" type="text" name="kitchen_license" required>
      </div>
    </div>
    <div style="margin:10px;text-align: left;">
      <label for="phone_number">Phone Number:</label>
      <div style="float:right;">
        <input id="phone_number" type="text" name="phone_number" required>
      </div>
    </div>
    <input type="submit" value="Create cook account" class="btn btn-primary">
  </form>

</div>

{% endblock %}