{% extends 'none_base.html' %}
{% block pagecontent %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
  
    </style>
  </head>
  <div style="text-align: center;width:27%;margin: 20px auto;">
    <h2>Customer Registration</h2>
    <form method="post">
      {% csrf_token %}
  
      <div style="margin:10px;text-align: left;">
        {{ form.first_name.label_tag }}
        <div style="float:right;">
          {{ form.first_name }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        {{ form.last_name.label_tag }}
        <div style="float:right;">
          {{ form.last_name }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        {{ form.street.label_tag }}
        <div style="float:right;">
          {{ form.street }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        {{ form.town.label_tag }}
        <div style="float:right;">
          {{ form.town }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        {{ form.state.label_tag }}
        <div style="float:right;">
          {{ form.state }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        {{ form.zipcode.label_tag }}
        <div style="float:right;">
          {{ form.zipcode }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        {{ form.email.label_tag }}
        <div style="float:right;">
          {{ form.email }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        {{ form.password.label_tag }}
        <div style="float:right;">
          {{ form.password }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        {{ form.phone_number.label_tag }}
        <div style="float:right;">
          {{ form.phone_number }}
        </div>
      </div>
      <input type="submit" value="Create customer account" class="btn btn-primary">
    </form>
  </div>

  {% endblock %}