
{% extends 'none_base.html' %}
{% block pagecontent %}

</head>

{% if messages %}
<ul class="messages" style="padding-right:40px;">
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

<div style="text-align: center;width:25%;margin: 20px auto;">
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}

    <div style="margin:10px;text-align: left;">
        Username
      <div style="float:right;">
        {{ form.username }}
      </div>
    </div>
    <div style="margin:10px;text-align: left;">
        Password
      <div style="float:right;">
        {{ form.password }}
      </div>
    </div>
    <input type="submit" value="Login" class="btn btn-primary">
  </form>

    Create <a href="/cookcreate"><strong>Cook account</strong></a> or <a href="/customercreate"><strong>Customer account</strong></a>!
</div>

{% endblock %}