<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>

  </style>
</head>
<div style="text-align: center;width:25%;margin: 20px auto;">
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}

    <div style="margin:10px;text-align: left;">
        Username
      <div style="float:right;">
        {{ form.username }}
      </div>
    </div>
    <div style="margin:10px;text-align: left;">
        Password
      <div style="float:right;">
        {{ form.password }}
      </div>
    </div>
    <input type="submit" value="Login" class="btn btn-primary">
  </form>

    Don't have an account? <a href="/register" target="blank"><strong>register here</strong></a>!
</div>