
{% extends 'base2.html' %}
{% block pagecontent %}

</head>
<div style="text-align: center;width:25%;margin: 20px auto;">
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}

    <div style="margin:10px;text-align: left;">
        Username
      <div style="float:right;">
        {{ form.username }}
      </div>
    </div>
    <div style="margin:10px;text-align: left;">
        Password
      <div style="float:right;">
        {{ form.password }}
      </div>
    </div>
    <input type="submit" value="Login" class="btn btn-primary">
  </form>

    Don't have an account? <a href="/register" target="blank"><strong>register here</strong></a>!
</div>

{% endblock %}