{% extends 'none_base.html' %}

{% block pagecontent %}

{% if validlink %}

<div style="text-align:center;">
        <div class="col-4 p-4 bg-white rounded shadow-lg" style="display:inline-block;margin-top:8%;width:25%">
        <h2 style="margin-bottom:20px;">Reset Password</h2>
        <form method="post">
          {% csrf_token %}
            <div class="form-group">
                <label style="float:left;" for="inputPassword1">Password</label>
                <input type="password" name="new_password1" class="form-control" id="inputPassword1">
            </div>
            <div class="form-group">
                <label style="float:left;" for="inputPassword2">Confirm Password</label>
                <input type="password" name="new_password2" class="form-control" id="inputPassword2">
            </div>
      
          <input type="submit" value="Change password" class="btn btn-primary">
        </form>
        </div>
      </div>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}