{% extends 'none_base.html' %}

{% block pagecontent %}

  <div style="text-align:center;">
        <div class="col-4 p-4 bg-white rounded shadow-lg" style="display:inline-block;margin-top:8%;width:25%">
        <h2 style="margin-bottom:20px;">Forgot your password?</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
                <label style="float:left;" for="inputEmail4">Email (username)</label>
                <input type="email" name="email" class="form-control" id="inputEmail4">
              </div>
          <input type="submit" value="Request Password Reset" class="btn btn-primary">
        </form>
        </div>
      </div>
{% endblock %}