{% load static %}
<head>
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <title>HomeEats</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
            .brand-name{
                    font-family: 'Righteous', cursive;
            }
            .overlay {
                background-color: rgba(1, 1, 1, 0.5);
                bottom: 0;
                left: 0;
                position: fixed;
                right: 0;
                top: 0;
            }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand brand-name" href="/customer/home">HomeEats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                                        <a class="nav-link" href="/customer/home">Home<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/customer/cart">Cart <span class="badge badge-light">{{cart_items.count}}</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/customer/favorites">Favorites</a>
                                </li>
                                <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user.first_name}}</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                                <a class="dropdown-item" href="/customer/myaccount">My Account</a>
                                                <a class="dropdown-item" href="/customer/addresses">My Addresses</a>
                                                <a class="dropdown-item" href="/customer/orders">My Orders</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/logout">Logout</a>
                                        </div>
                                </li>
                    
            </ul>
    </div>
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

<div class="container mt-2">

    <h1>Your Addresses <a href="{% url 'add_address' %}"><button type="button" class="btn btn-success btn-sm">+Add Address</button></a></h1> 
    <ul class="list-group">
        <li class="list-group-item active">{{current_address.street_name}} {{current_address.city}}, {{current_address.state}} {{current_address.zipcode}} <span class="badge badge-success">Current</span></li>

        {% for add in other_addresses %}

        <li class="list-group-item">{{add.street_name}} {{add.city}}, {{add.state}} {{add.zipcode}} 

            <button type="button" style="float:right;" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalCenter{{add.id}}">Delete</button>
            
            <div class="modal fade" id="exampleModalCenter{{add.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Remove Address</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete this address: </br> </br>
                          {{add.street_name}} </br> {{add.city}}, {{add.state}} {{add.zipcode}}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <a href="{% url 'delete_address' add.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                        </div>
                      </div>
                    </div>
                  </div>

            <a href="{% url 'change_current_address' add.id %}"><button type="button" style="float:right;" class="btn btn-success btn-sm">Make Current</button></a>   
            
        </li>

        {% endfor %}
    </ul>


</div>