{% load static %}
<head>
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>

    <title>HomeEats</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .brand-name{
            font-family: 'Righteous', cursive;
        }
        .overlay {
            background-color: rgba(1, 1, 1, 0.5);
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
        }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom:15px;">
  <a class="navbar-brand brand-name" href="/customer/home">HomeEats</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                      <a class="nav-link" href="/customer/home">Home<span class="sr-only">(current)</span></a>
              </li>
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user.first_name}}</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                          <a class="dropdown-item" href="/customer/myaccount">My Account</a>
                          <a class="dropdown-item" href="/customer/orders">My Orders</a>
                          <a class="dropdown-item" href="/customer/favorites">My Favorites</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/logout">Logout</a>
                  </div>
          </li>
          <li class="nav-item">
                  <a class="nav-link" href="/customer/cart">Cart <span class="badge badge-light">{{cart_items.count}}</span></a>
          </li>
  </ul>       
  </div>
</nav>

{% if cart.empty %}
<div class="container mt-2">
    <a href="{% url 'customer_home' %}"><button type="button" class="btn btn-secondary">&lt; Add to Order</button></a>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1>Your cart is empty...<h1>
            <p class="lead">Add dishes you want to order and come back here to checkout!</p>
        </div>
    </div>
{% else %}

<script>
  function removeItem(item_id, cart_id) {
    $.ajax({
        type: "POST",
        url: "{% url 'removeItem' %}",
        data: {
        'item_id': item_id,
        'cart_id': cart_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (data) {
          location.reload();
        }
    });
  }
  function addtocart(id){
    // document.getElementById("overlay").style.display = 'block';
    $.ajax({
      type: "POST",
      url: "{% url 'addtocart' %}",
      data: {
      'dish_id': id,
      'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: 'json',

      // Upon adding to cart successfully
      success: function (data) {
          location.reload();
      }
    });
  }

  function removefromcart(id){
    $.ajax({
      type: "POST",
      url: "{% url 'removefromcart' %}",
      data: {
      'dish_id': id,
      'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: 'json',

      // Upon removing from cart successfully
      success: function (data) {
          location.reload();
      }
    });
  }
</script>

<div id="overlay" class="overlay" style="display:none"></div>

<!--
<h1>{{user.first_name}}'s Cart</h1>
<h2>Ordering from {{cart.cook.user.first_name}}</h2>
<h3>Total: {{cart.total}}</h2>
{% for item in cart.cartitem_set.all%}
    <h4>{{item.dish.title}} - {{item.quantity}} - ${{item.subtotal}}</h4></h3>
{% endfor %}
-->
<div class="container">
    {% if messages %}
    <ul class="messages" style="padding-right:40px;">
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
  <a href="{% url 'customer_home' %}"><button type="button" class="btn btn-secondary">&lt; Add to Order</button></a>
  <div class="row">
    <div class="col-lg-8 p-4 bg-white rounded shadow-sm mb-5">
      <h1 class="text-center">Review Order</h1>
      <div class="row" style="float:left;">
          <div class="col-sm-6">
            <div class="card text-center" style="width:250px">
              <div class="card-body">
                <h5 class="card-title">Delivering to</h5>
                <p class="card-text">{{cart.customer.user.first_name}} {{cart.customer.user.last_name}} </br>{{address.street_name}} </br> {{address.city}}, {{address.state}} {{address.zipcode}}</p>
              </div>
            </div>
          </div>
        </div>

      <div class="table-responsive">
          <ul class="list-group list-group-flush">
            {% for item in cart_items %}
              <li class="list-group-item">
                <table class="table">
                  <tr>
                    <td class="border-0 align-middle" style="width:25%"><strong>{{item.dish.title}}</strong></td>
                    <td class="border-0 align-middle" style="width:25%"><strong>x{{item.quantity}}</strong></td>
                    <td class="border-0 align-middle" style="width:25%"><strong>${{item.subtotal}}</strong></td>
                    <!-- <td onclick="removeItem('{{item.id}}', '{{cart.id}}')" class="border-0 align-middle" style="width:25%"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td> -->
                    <td class="border-0 align-middle" >
                      <button onclick="addtocart('{{item.dish.id}}')" style="padding:0;background:none;border:none;outline:none;margin-top:3px;float:right;position:relative;">
                        <i class="fa fa-plus text-success"></i>
                      </button>
                      <button onclick="removefromcart('{{item.dish.id}}')" style="padding:0;background:none;border:none;outline:none;margin-top:3px;margin-right:5px;float:right;position:relative;">
                        <i class="fa fa-minus text-danger"></i>
                      </button>
                    </td>
                  </tr>
                </table>
              </li>   
              {% endfor %}
            </ul>
      </div>
      <form method="POST" action="{% url 'cart' %}" style="display:inline;">
          {% csrf_token %}
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Special Requests</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" name="special_requests">{{cart.special_requests}}</textarea>
          </div>

          <div class="input-group" style="margin-top: 20px;">
            <label for="orderTime" style="margin-right:10px;">Order Time: </label>
            <select class="form-control" id="orderTime" name="orderTime">
              <option>Now</option>
              <option>In 30 min</option>
              <option>In one hour</option>
              <option>In two hours</option>
              <option>In three hours</option>
            </select>
          </div>      
    </div>
    <div class="col-lg-4 p-5 bg-white rounded shadow-sm mb-5">
      <div class="bg-light square-pill px-4 py-3 font-weight-bold text-center">Order from {{cart.cook.user.first_name}} {{cart.cook.user.last_name}}</div>
      <div class="p-4">
        <ul class="list-unstyled mb-4">
          <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>${{cart.item_subtotal}}</strong></li>
          <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Delivery</strong><strong>${{cart.cook.delivery_fee}}</strong></li>
          <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>${{cart.tax}}</strong></li>
          <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total (before tip)</strong>
            <h5 class="font-weight-bold">${{cart.total_before_tip}}</h5>
          </li>
	  <li>
	    <strong class="text-muted">Add a tip</strong>
	    {% for tip_option in cart.tip_options %}
	      <div class="d-flex justify-content-between py-3 ">
	        <label>{{ tip_option.label }}</label>
		<input type="radio" name="tip" value="{{ tip_option.amount }}" {% if tip_option.label == "15 %" %} checked {% endif %} ><strong>${{ tip_option.amount }}</strong></input>
	      </div>
	    {% endfor %}
	    <div class="d-flex justify-content-between py-3 ">
	      <label>Other:</label>
	      <input type="radio" name="tip">$<input style="width:3em;"type="text" aria-label="Amount" name="tip" /> </input>
	    </div>
	  </li>
        </ul>
        <input type=submit class="btn btn-primary btn-block" value="Proceed to Payment">
        </form>
      </div>
    </div>
  </div>
</div>

{% endif %}
