{% load static %}
<head>
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>

    <title>HomeEats</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .brand-name{
            font-family: 'Righteous', cursive;
        }
        .overlay {
            background-color: rgba(1, 1, 1, 0.5);
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
        }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom:15px;">
    <a class="navbar-brand brand-name" href="/customer/home">HomeEats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="nav-link" href="/customer/home">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/cart">Cart <span class="badge badge-light">{{cart_items.count}}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/favorites">Favorites</a>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user.first_name}}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/customer/myaccount">My Account</a>
                                <a class="dropdown-item" href="/customer/addresses">My Addresses</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                </li>
                
        </ul>
    </div>
</nav>

{% if cart.empty %}
<div class="container mt-2">
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1>Your cart is empty...<h1>
            <p class="lead">Add dishes you want to order and come back here to checkout!</p>
        </div>
    </div>
{% else %}

<script>
  function removeItem(item_id, cart_id) {
    $.ajax({
        type: "POST",
        url: "{% url 'removeItem' %}",
        data: {
        'item_id': item_id,
        'cart_id': cart_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (data) {
          location.reload();
        }
    });
  }
</script>

<!--
<h1>{{user.first_name}}'s Cart</h1>
<h2>Ordering from {{cart.cook.user.first_name}}</h2>
<h3>Total: {{cart.total}}</h2>
{% for item in cart.cartitem_set.all%}
    <h4>{{item.dish.title}} - {{item.quantity}} - ${{item.subtotal}}</h4></h3>
{% endfor %}
-->
<div class="container">
  <div class="row">
    <div class="col-lg-8 p-4 bg-white rounded shadow-sm mb-5 text-center">
      <h1 class="display-4">{{user.first_name}}'s Cart</h1>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="border-2 bg-primary">
                <div class="p-2 px-3 text-uppercase text-white">Item</div>
              </th>
              <th scope="col" class="border-0 bg-primary">
                <div class="py-2 text-uppercase text-white">Quantity</div>
              </th>
              <th scope="col" class="border-0 bg-primary">
                <div class="py-2 text-uppercase text-white">Subtotal</div>
              </th>
              <th scope="col" class="border-0 bg-primary">
                <div class="py-2 text-uppercase text-white">Remove</div>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart.cartitem_set.all%}
            <tr>
              <td class="border-0 align-middle"><strong>{{item.dish.title}}</strong></td>
              <td class="border-0 align-middle"><strong>{{item.quantity}}</strong></td>
              <td class="border-0 align-middle"><strong>${{item.subtotal}}</strong></td>
              <td onclick="removeItem('{{item.id}}', '{{cart.id}}')" class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <form method="POST" action="{% url 'cart' %}" style="display:inline;">
          {% csrf_token %}
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Special Requests</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" name="special_requests">{{cart.special_requests}}</textarea>
          </div>
      </div>
    </div>
    <div class="col-lg-4 p-5 bg-white rounded shadow-sm mb-5">
      <div class="bg-light square-pill px-4 py-3 text-uppercase font-weight-bold">Order Summary </div>
      <div class="p-4">
        <ul class="list-unstyled mb-4">
          <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>${{cart.item_subtotal}}</strong></li>
          <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Delivery</strong><strong>${{cart.cook.delivery_fee}}</strong></li>
          <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>${{cart.tax}}</strong></li>
          <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total (before tip)</strong>
            <h5 class="font-weight-bold">${{cart.total_before_tip}}</h5>
          </li>
          <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Add a Tip</strong>
            <div class="input-group mb-3" style="width:7rem;">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" aria-label="Amount" name="tip" value="{{cart.tip}}">
            </div>
          </li>
        </ul>
        <input type=submit class="btn btn-primary btn-block" value="Proceed to Payment">
        </form>
      </div>
    </div>
  </div>
</div>

{% endif %}