{% extends '../customer_base.html' %}
{% block pagecontent %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
  
    </style>
  </head>

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      {% endif %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      {% endif %}
      {% endfor %}
  </ul>
  {% endif %}   

  <div style="text-align: center;width:27%;margin: 20px auto;">
    <h2>My Account</h2>
    <form method="post">
      {% csrf_token %}
  
      <div style="margin:10px;text-align: left;">
       First Name
        <div style="float:right;">
          {{ user.first_name }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        Last Name
        <div style="float:right;">
          {{ user.last_name }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        Email
        <div style="float:right;">
          {{ user.username }}
        </div>
      </div>
      <div style="margin:10px;text-align: left;">
        Phone Number
        <div style="float:right;">
          {{ user.customer.phone_number }}
        </div>
      </div>
      <input type="submit" value="Edit" class="btn btn-primary">
    </form>
  </div>

  {% endblock %}