{% extends 'customer_base.html' %}
{% load staticfiles %}

{% block title %}Dish {{dish_id}} {% endblock %}
{% block pagecontent %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <form method="POST" action="{% url 'addtocart' %}">
                {% csrf_token %}  
                <input name="dish_id" type="hidden" value="{{dish.id}}">
                <button class='btn btn-success' type="submit">Add to order</button>
            </form>
            <h1>{{dish.title}}</h1>
            <h4>{{dish.description}} </h4>
            <img src="{{ dish.dish_image.url }}" width=400px height=300px>
            <h3>Cook time: {{dish.cook_time}} </h3>
            <h3>Cook: {{dish.cook.user.first_name}} {{dish.cook.user.last_name}}</h3>
            <h3>Rating: {{dish.rating}}</h3>
        </div>
        <div class="col-6">
            <h2>Reviews <!-- will change write review to after order in future -->
                <button class="btn btn-primary" onClick="getElementById('review_form').style.display='block'">Write Review</button>
            </h2>
            <form method="POST" id="review_form" style="display:none;cursor:default;">
                {% csrf_token %}
                <span id="star1" style="cursor:pointer" class="fa fa-star fa-sm" onclick="colorStars(1)"></span>
                <span id="star2" style="cursor:pointer" class="fa fa-star fa-sm" onclick="colorStars(2)"></span>
                <span id="star3" style="cursor:pointer" class="fa fa-star fa-sm" onclick="colorStars(3)"></span>
                <span id="star4" style="cursor:pointer" class="fa fa-star fa-sm" onclick="colorStars(4)"></span>
                <span id="star5" style="cursor:pointer" class="fa fa-star fa-sm" onclick="colorStars(5)"></span>
                {{form.dish_rating}}
                {{form.description}}
                <input type="submit" name="review_submit">
            </form>
            {% for review in reviews %}
                <div style="margin:10px 0px;">
                    <span class="fa fa-star {% if review.dish_rating >= 1 %}checked{% endif %} fa-sm"></span>
                    <span class="fa fa-star {% if review.dish_rating >= 2 %}checked{% endif %} fa-sm"></span>
                    <span class="fa fa-star {% if review.dish_rating >= 3 %}checked{% endif %} fa-sm"></span>
                    <span class="fa fa-star {% if review.dish_rating >= 4 %}checked{% endif %} fa-sm"></span>
                    <span class="fa fa-star {% if review.dish_rating >= 5 %}checked{% endif %} fa-sm"></span>
                    <h6>{{review.description}}</h6>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

