{% extends 'customer_base.html' %}
{% load staticfiles %}

{% block title %}Dish {{dish_id}} {% endblock %}
{% block pagecontent %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <ul class="list-group" style="margin-top:10px;">
            <li class="list-group-item" style="width:100%">
            <h2>
                {{dish.title}}
                <span class="fa fa-star {% if dish.rating >= 1 %}checked{% endif %} fa-sm"></span>
                <span class="fa fa-star {% if dish.rating >= 2 %}checked{% endif %} fa-sm"></span>
                <span class="fa fa-star {% if dish.rating >= 3 %}checked{% endif %} fa-sm"></span>
                <span class="fa fa-star {% if dish.rating >= 4 %}checked{% endif %} fa-sm"></span>
                <span class="fa fa-star {% if dish.rating >= 5 %}checked{% endif %} fa-sm"></span>
            </h2>
            <h4>${{dish.price}}</h4>
            <h6>{{dish.description}} </h6>
            <img src="{{ dish.dish_image.url }}" width=300px height=220px>
            <h5>Cook time: {{dish.cook_time}} min </h5>
            <h5>Cook: {{dish.cook.user.first_name}} {{dish.cook.user.last_name}}</h5>
            <h5>Cuisine: {{dish.cuisine.name}}</h5>
            <p>Ingredients: 
            {% for ingredient in dish.ingredients %}
                <span>{{ingredient}}, </span>
            {% endfor %}
            </p>
            <p>Allergies: {{dish.allergies}}</p>
            <form method="POST" action="{% url 'addtocart' %}" style="display:inline">
                {% csrf_token %}  
                <input name="dish_id" type="hidden" value="{{dish.id}}">
                <button name="dishbtn" style="float:right;" class='btn btn-success' type="submit">Add to order</button>
            </form>
            </li>
            </ul>
        </div>
        <div class="col-6">
            <h2>Reviews</h2>
            <div style="height:80vh;overflow-y:scroll;">
            <ul class="list-group">
                {% for review in reviews %}
                    <li class="list-group-item" style="width:100%;margin-bottom:5px;">
                        <div>
                            <h6>{{review.customer.user.first_name}} {{review.customer.user.last_name}}</h6>
                            <p style="margin-bottom:5px;">Posted: {{review.date}}</p>
                        </div>
                        <span class="fa fa-star {% if review.dish_rating >= 1 %}checked{% endif %} fa-sm"></span>
                        <span class="fa fa-star {% if review.dish_rating >= 2 %}checked{% endif %} fa-sm"></span>
                        <span class="fa fa-star {% if review.dish_rating >= 3 %}checked{% endif %} fa-sm"></span>
                        <span class="fa fa-star {% if review.dish_rating >= 4 %}checked{% endif %} fa-sm"></span>
                        <span class="fa fa-star {% if review.dish_rating >= 5 %}checked{% endif %} fa-sm"></span>
                        <p>{{review.description}}</p>
                    </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

