{% load static %}
<head>
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <title>HomeEats</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
            .brand-name{
                    font-family: 'Righteous', cursive;
            }
            .overlay {
                background-color: rgba(1, 1, 1, 0.5);
                bottom: 0;
                left: 0;
                position: fixed;
                right: 0;
                top: 0;
            }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand brand-name" href="/customer/home">HomeEats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                            <a class="nav-link" href="/customer/home">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/cart">Cart <span class="badge badge-light">{{cart_items.count}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/favorites">Favorites</a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user.first_name}}</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/customer/myaccount">My Account</a>
                                    <a class="dropdown-item" href="/customer/addresses">My Addresses</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                    </li>
                    
            </ul>
    </div>
</nav>

<div class="container" style="margin-top:25px">

    {% if dishes %}
    <h1>My Favorites</h1></br>
    <div class="row">
            <div class="card-deck">       
    {% for dish in dishes %}
    
            <div class="card" {% if not customer.shoppingcart.empty and customer.shoppingcart.cook != dish.cook or not dish.cook.online or dish.cook_disabled %}disabled style="opacity: 0.3;" title="Current cart has different cook"{% endif %} style="width:17.5rem;height:310px">
            <img src="{{ dish.dish_image.url }}" class="dish-image" alt="...">
            <div class="card-body">
                    <a href="{% url 'customer_dish' dish.id %}">  <h5 class="card-title" style="color:black;">{{dish.title}} {% if dish.vegan %}<img src="/media/vegan.png" width=20px>{% endif %}</h5></a>
                    
                {% if dish.rating > 0 %}
                    <span class="fa fa-star {% if dish.rating >= 1 %}checked{% endif %} fa-sm"></span>
                    <span class="fa fa-star {% if dish.rating >= 2 %}checked{% endif %} fa-sm"></span>
                    <span class="fa fa-star {% if dish.rating >= 3 %}checked{% endif %} fa-sm"></span>
                    <span class="fa fa-star {% if dish.rating >= 4 %}checked{% endif %} fa-sm"></span>
                    <span class="fa fa-star {% if dish.rating >= 5 %}checked{% endif %} fa-sm"></span>
                    <p class="text-muted" style="float:right;">  {{dish.dish_review_set.count}} rating{% if dish.dish_review_set.count > 1 %}s{% endif %}</p>
                {% else %}
                    NO RATING
                {% endif %}
                
            </br></br>
            
                    {% if dish in customer.favorites.all %}
                    <i class="fa fa-heart" id="heart{{dish.id}}" style="color:red;font-size:20pt;cursor:pointer;float:left;" onclick="toggleHeart('{{dish.id}}')"></i>
                    {% else %}
                    <i class="fa fa-heart-o" id="heart{{dish.id}}" style="color:red;font-size:20pt;cursor:pointer;float:left;" onclick="toggleHeart('{{dish.id}}')"></i>
                    {%endif%}
                <h5>
                    <button 
                    onclick="addtocart('{{dish.id}}')" 
                    style="padding:0;background:none;border:none;outline:none;margin-top:3px;float:right"
                    {% if not customer.shoppingcart.empty and customer.shoppingcart.cook != dish.cook or not dish.cook.online or dish.cook_disabled %}
                            disabled
                        {% endif %} 
                    >
                            <i class="fa fa-plus text-success"></i>
                        </button>
                        <span id="quantity{{dish.id}}" style="float:right;">
                            {% for item in customer.shoppingcart.cartitem_set.all %}
                                {% if item.dish == dish %}
                                    {{item.quantity}}
                                {% endif %}
                            {% endfor %}
                        </span> 
                    </h5>
            </div>
        </div>

    
    {% endfor %}
</div>
    </div>
    {% else %}

    <div class="container mt-2">
            <div class="jumbotron jumbotron-fluid">
                <div class="container text-center">
                    <h1>You have no favorites yet...</h1>
                    <p class="lead">Use the heart icon on dishes to favorite them!</p>
                </div>
            </div>


    {% endif %}

</div>

<!-- covers screen with div to prevent clicking -->
<div id="overlay" class="overlay" style="display:none">
        
</div>

<script>
    function addtocart(id){
        // temp solution (covers screen and then reloads page to prevent adding dishes from different cooks)
        {% if customer.shoppingcart.empty %}
            document.getElementById("overlay").style.display = 'block';
        {% endif %}

        $.ajax({
            type: "POST",
            url: "{% url 'addtocart' %}",
            data: {
            'dish_id': id,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (data) {
                let textname = "quantity"+data.dish_id
                document.getElementById(textname).innerHTML = data.quantity;
                location.reload();
            }
        });
    }
</script>