{% load static %}
<head>
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>

    <title>HomeEats</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .brand-name{
            font-family: 'Righteous', cursive;
        }
        .overlay {
            background-color: rgba(1, 1, 1, 0.5);
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
        }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom:15px;">
    <a class="navbar-brand brand-name" href="/customer/home">HomeEats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="nav-link" href="/customer/home">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/cart">Cart <span class="badge badge-light">{{cart_items.count}}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/favorites">Favorites</a>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user.first_name}}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/customer/myaccount">My Account</a>
                                <a class="dropdown-item" href="/customer/addresses">My Addresses</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                </li>
                
        </ul>
    </div>
</nav>

<script>
    var intervals = {};
    var deadlines = {};
</script>

{% load tz %}

{% if current_orders%}
<h2 style="margin-left:60px">Current Orders</h2>
<div class="container" style="overflow-x:scroll;">
    <div class="row flex-row flex-nowrap">
        {% for order in current_orders%}
            <div class="col-3" style="margin-bottom:20px;display:inline-block;">
                <div class="card">
                    <h5 class="card-header">
                        <a href="{% url 'order' order.id %}">Order #{{order.id}}</a>
                    </h5>
                    <div class="card-body">
                        <p class="card-title">Cook: {{order.cook.user.first_name}} {{order.cook.user.last_name}}</p>
                        <p class="card-text">Total: ${{order.total}}</p>
                        {% if order.status == 'p' %}
                        <span class="card-text">Order Pending </span>
                        <span id="timer{{order.id}}"><span id="hours{{order.id}}"></span><span id="hoursColon{{order.id}}">:</span><span id="minutes{{order.id}}"></span>:<span id="seconds{{order.id}}"></span></span>
                        <br></br>
                        <script>
                            {% with id=order.id %}
                            deadlines["{{order.id}}"] = new Date({{ deadlines|getvalue:id|date:"U" }} * 1000);
                            console.log("Deadline:",deadlines["{{order.id}}"]);
                            intervals["{{order.id}}"] = setInterval(function() { 
                                let now = new Date(Date.now());
                                console.log(now);
                                let timeLeft = deadlines["{{order.id}}"]-now;
                                console.log("Time left",timeLeft);
                                let hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                let minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60)); 
                                let seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
                                
                                let hoursColonDiv = "hoursColon"+'{{order.id}}';
                                let hoursDiv = "hours"+'{{order.id}}';
                                let minutesDiv = "minutes"+'{{order.id}}';
                                let secondsDiv = "seconds"+'{{order.id}}';
                                let timerDiv = "timer"+'{{order.id}}';
                
                                if (seconds < 10){
                                    seconds = '0'+seconds;
                                }
                                if (hours == 0){
                                    document.getElementById(hoursDiv).innerHTML = "";
                                    document.getElementById(hoursColonDiv).innerHTML = "";
                                }
                                else{
                                    document.getElementById(hoursDiv).innerHTML = hours;
                                }
                
                                document.getElementById(minutesDiv).innerHTML = minutes;
                                document.getElementById(secondsDiv).innerHTML = seconds;
                                if (timeLeft < 0) { 
                                    clearInterval(intervals["{{order.id}}"]); 
                                    document.getElementById(timerDiv).innerHTML = "EXPIRED";
                                    $.ajax({
                                        type: "POST",
                                        url: "{% url 'reject_order' %}",
                                        data: {
                                        'order_id': '{{order.id}}',
                                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                                        },
                                        dataType: 'json',
                                        success: function (data) {
                                            console.log("success");
                                        }
                                    }); 
                                } 
                            }, 1000);
                            {% endwith %}
                        </script>
                        {% elif order.status == 'c' %}
                        <p class="card-text">Order Cooking</p>
                        {% elif order.status == 'o' %}
                        <p class="card-text">Out for Delivery</p>
                        {% endif %}
                        <p class="card-text">Placed {{order.date}}</p>
                    </div>
                    <div class="card-footer">
                        {% with local=order.estimated_arrival_time|localtime %}
                        <span class= "card-text font-weight-bold text-success">  ETA: {{local.time}}  </span>
                        {% endwith %}
                        {% if order.status == 'p' %}
                        <form method="POST" action="{% url 'cancel_order' %}" style="display:inline;">
                            {% csrf_token %}
                            <input name="order_id" type="hidden" value="{{order.id}}">
                            <button class="btn btn-danger">Cancel</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h3 style="margin-left:60px">No current orders</h3>
{% endif %}

{% if past_orders %}
<h2 style="margin-left:60px">Past Orders</h2>
<div class="container" style="overflow-x:scroll;">
    <div class="row flex-row flex-nowrap">
        {% for order in past_orders%}
            <div class="col-3" style="margin-bottom:20px;display:inline-block;">
                    <div class="card">
                            <h5 class="card-header">
                                <a href="{% url 'order' order.id %}">Order #{{order.id}}</a>
                            </h5>
                            <div class="card-body">
                                <p class="card-title">Cook: {{order.cook.user.first_name}} {{order.cook.user.last_name}}</p>
                                <p class="card-text">Total: ${{order.total}}</p>
                                <p class="card-text">Placed {{order.date}}</p>
                            </div>
                            <div class="card-footer">
                                {% if order.status == "d" %}
                                <p class= "card-text font-weight-bold text-success">  Delivered: {{order.actual_arrival_time.time}} </p>
                                {% elif order.status == "r" %}
                                <p class= "card-text font-weight-bold text-danger">Rejected</p>
                                <p class= "card-text">Reason: {{order.reject_reason.reason}}</p>
                                {% else %}
                                <p class= "card-text font-weight-bold text-danger">Customer Canceled</p>
                                {% endif %}
                            </div>
                        </div>
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h3 style="margin-left:60px">No past orders</h3>
{% endif %}
