{% load static %}
<head>
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>

    <title>HomeEats</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        button .full-width{
            width:100%;
        }
        .brand-name{
            font-family: 'Righteous', cursive;
        }
        .overlay {
            background-color: rgba(1, 1, 1, 0.5);
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
        }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom:15px;">
    <a class="navbar-brand brand-name" href="/customer/home">HomeEats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="nav-link" href="/customer/home">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/cart">Cart <span class="badge badge-light">{{cart_items.count}}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/favorites">Favorites</a>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user.first_name}}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/customer/myaccount">My Account</a>
                                <a class="dropdown-item" href="/customer/addresses">My Addresses</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                </li>
                
        </ul>
    </div>
</nav>

{% if cart.empty %}
<h2>Please add items to cart to see them here!</h2>
{% else %}

<script>
  function removeItem(item_id, cart_id) {
    $.ajax({
        type: "POST",
        url: "{% url 'removeItem' %}",
        data: {
        'item_id': item_id,
        'cart_id': cart_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (data) {
          location.reload();
        }
    });
  }
  function cash(){
    document.getElementById("cashButton").classList.add("btn-dark");
    document.getElementById("cashButton").classList.remove("btn-light");
    document.getElementById("cardButton").classList.add("btn-light");
    document.getElementById("cardButton").classList.remove("btn-dark");
    document.getElementById("cardpayment").style.display = "none";
    document.getElementById("cashpayment").style.display = "block";
  }
  function card(){
    document.getElementById("cardButton").classList.add("btn-dark");
    document.getElementById("cardButton").classList.remove("btn-light");
    document.getElementById("cashButton").classList.add("btn-light");
    document.getElementById("cashButton").classList.remove("btn-dark");
    document.getElementById("cardpayment").style.display = "block";
    document.getElementById("cashpayment").style.display = "none";
  }
</script>

<!--
<h1>{{user.first_name}}'s Cart</h1>
<h2>Ordering from {{cart.cook.user.first_name}}</h2>
<h3>Total: {{cart.total}}</h2>
{% for item in cart.cartitem_set.all%}
    <h4>{{item.dish.title}} - {{item.quantity}} - ${{item.subtotal}}</h4></h3>
{% endfor %}
-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 p-5 bg-white rounded shadow-sm mb-5">
            <div class="text-center mb-5">
                <span style="margin-right:10px;">Select Payment Method</span>
                <button onclick="cash();" id="cashButton" class="btn btn-dark">Cash</button>
                <button onclick="card();" id="cardButton" class="btn btn-light">Card</button>
            </div>
            <div id="cashpayment" class="text-center">
                <strong class="text-muted">Please have cash ready when the order is delivered</strong>
                <div class="form-row justify-content-md-center mt-5">
                    <div class="form-group col-md-6">
                        <form action="{% url 'checkout' %}">
                            <button type="submit" style="width:100%;" class="btn btn-primary btn-lg">Place Order</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="cardpayment" style="display:none">
                <form action="{% url 'checkout' %}">
                    <div class="form-row justify-content-md-center">
                        <div class="form-group col-md-6">
                            <label for="cardNumber">Card Number</label>
                            <input type="text" class="form-control" id="cardNumber" placeholder="Card Number*">
                        </div>
                    </div>
                    <div class="form-row justify-content-md-center">
                        <div class="form-group col-md-6">
                            <label for="nameOnCard">Name on Card</label>
                            <input type="text" class="form-control" id="nameOnCard" placeholder="Name on Card*">
                        </div>
                    </div>
                    <div class="form-row justify-content-md-center">
                        <div class="form-group col-md-3">
                            <label for="expDate">Exp. Date</label>
                            <input type="text" class="form-control" id="expDate" placeholder="Exp. Date*">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="CVV">CVV</label>
                            <input type="text" class="form-control" id="CVV" placeholder="CVV*">
                        </div>
                    </div>
                    <div class="form-row justify-content-md-center">
                        <div class="form-group col-md-6">
                            <button type="submit" style="width:100%;" class="btn btn-primary btn-lg">Place Order</button>
                        </div>
                    </div>
                </form>
                </div>
        </div>
        
        <div class="col-lg-4 p-5 bg-white rounded shadow-sm mb-5">
            <div class="bg-light square-pill px-4 py-3 text-uppercase font-weight-bold">Order Summary </div>
                <div class="table-responsive">
                    <table class="table">
                    <thead>
                        <tr>
                        <th scope="col" class="border-2 bg-primary">
                            <div class="p-2 px-3 text-uppercase text-white">Item</div>
                        </th>
                        <th scope="col" class="border-0 bg-primary">
                            <div class="py-2 text-uppercase text-white">Quantity</div>
                        </th>
                        <th scope="col" class="border-0 bg-primary">
                            <div class="py-2 text-uppercase text-white">Subtotal</div>
                        </th>
                        </tr>
                    </thead>
                    <tbody>
              	        <tbody>
              	        {% for item in cart.cartitem_set.all%}
                        <tr>
                        <td class="border-0 align-middle"><strong>{{item.dish.title}}</strong></td>
                        <td class="border-0 align-middle"><strong>{{item.quantity}}</strong></td>
                        <td class="border-0 align-middle"><strong>${{item.subtotal}}</strong></td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="p-4">
                    <ul class="list-unstyled mb-4">
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>${{cart.item_subtotal}}</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Delivery</strong><strong>${{cart.cook.delivery_fee}}</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>${{cart.tax}}</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tip</strong><strong>${{cart.tip}}</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                        <h5 class="font-weight-bold">${{cart.total_after_tip}}</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endif %}